 .u-section-1 {
  background-image: linear-gradient(to right, #f9f5d1, #c4cfb0);
}

.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-image-1 {
  width: 556px;
  height: 336px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 323px;
  height: 300px;
  margin: -182px 157px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: 65px auto 0 -21px;
}

.u-section-1 .u-image-4 {
  width: 159px;
  height: 36px;
  margin: -39px auto 0 32px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 32px;
}

.u-section-1 .u-image-5 {
  width: 43px;
  height: 43px;
  margin: -36px auto 51px -21px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 327px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 206px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -52px;
    margin-right: 17px;
  }
}